@import "constants/constants.scss";

.skills {
    min-height: calc(100vh - 64px);
    padding: 40px 0 20px;
    background-color: $color_grey;
    .skills_container {
        display: flex;
        justify-content: space-between;
        // align-items: center;
        @media (max-width: 1200px) {
            flex-direction: column;
            align-items: center;
        }
        .study_block {
            color: $color_antiqueWhite;
            padding: 10px;
            height: 500px;
            @media (min-width: 1200px) {
                min-width: 450px;
            }
            @media (max-width: 1200px) {
                height: auto;
            }
            .study_title {
                font-size: 2rem;
                margin-bottom: 40px;
            }
            .study_textBox {
                margin-bottom: 50px;
                .study_text {
                    font-size: 1.2rem;
                    margin-bottom: 15px;
                }
                .study_subtext {
                    color: $color_lightGrey;
                }
            }
            .hobby_subtext {
                padding-bottom: 10px;
                color: $color_lightGrey;
                max-width: 500px;
                &:last-child {
                    margin-bottom: 20px;
                }
            }
        }
        .skills_block {
            display: flex;
            flex-direction: column;
            align-items: center;
            // padding: 10px;
            .skills_title {               
                color: $color_antiqueWhite;
                width: 650px;
                text-align: right;
                font-size: 2rem;
                margin-bottom: 30px;
                @media (max-width: 1200px) {
                    width: 470px;
                    text-align: left;
                }
                @media (max-width: 600px) {
                    width: auto;
                }
            }
            .skills_box {
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                @media (max-width: 1200px) {
                    max-width: 520px;
                }
                .skills_item {
                    background-color: $color_dark;
                    margin: 15px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    padding: 10px 20px;
                    position: relative;
                    img {
                        width: 100px;
                        height: 100px;
                    }
                    .skills_itemTitle {
                        font-family: Nunito;
                        font-weight: 600;
                        color: $color_antiqueWhite;
                        font-size: 1.2rem;
                        margin-top: 4px;
                    }
                }
                .skills_item:before,
                .skills_item:after {
                    content: "";
                    position: absolute;
                    transition: all 0.4s;
                    width: 10%;
                    height: 15%;
                }
    
                .skills_item:before {
                    border-bottom: 2px solid $color_orange;
                    border-left: 2px solid $color_orange;
                    bottom: -0px;
                    left: -0px;
                }
    
                .skills_item:after {
                    border-top: 2px solid $color_orange;
                    border-right: 2px solid $color_orange;
                    top: -0px;
                    right: -0px;
                }
    
                .skills_item:hover:before,
                .skills_item:hover:after {
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
}
