@import "constants/constants.scss";

.skills {
    padding: 40px 0;
    background-color: $color_grey;
    min-height: 100vh;
    .title {
        font-family: Nunito;
        text-align: center;
        margin-bottom: 50px;
        font-size: 2rem;
        font-weight: 600;
        color: $color_antiqueWhite;
    }
    .container {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        .item {
            background-color: $color_dark;
            margin: 15px;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 10px 20px;
            position: relative;
            img {
                width: 100px;
                height: 100px;
            }
            .itemTitle {
                font-family: Nunito;
                font-weight: 600;
                color: $color_antiqueWhite;
                font-size: 1.2rem;
                margin-top: 4px;
            }
        }
        .item:before,
        .item:after {
            content: "";
            position: absolute;
            transition: all 0.4s;
            width: 10%;
            height: 15%;
        }

        .item:before {
            border-bottom: 2px solid $color_orange;
            border-left: 2px solid $color_orange;
            bottom: -0px;
            left: -0px;
        }

        .item:after {
            border-top: 2px solid $color_orange;
            border-right: 2px solid $color_orange;
            top: -0px;
            right: -0px;
        }

        .item:hover:before,
        .item:hover:after {
            width: 100%;
            height: 100%;
        }
    }
}
