@import "constants/constants.scss";

.navBar {
    display: flex;
    .logo {
        display: block;
        cursor: pointer;
        margin-top: 8px;
    }
    .logo:hover {
        transform: scale(1.2);
        transition: .5s;
    }
    .link {
        cursor: pointer;
        padding: 0 16px;
        color: #fff;
    }
    .activeLink {
        color: $color_orange;
    }
    .lang {
        cursor: pointer;
        margin: 0 8px;
        padding: 0 8px;
        color: $color_lightGrey;
        border: 1px solid $color_lightGrey;
        border-radius: 5px;
    }
}
.drawer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: $color_main;
    height: 340px;
    .drawerLogo {
        margin: 18px 0 10px;
    }
    .divider {
        background-color: #fff;
        width: 50%;
        margin: 0 auto;
        margin-bottom: 12px;
    }
    .drawerItems {
        display: block;
        padding: 5px 0;
        color: #fff;
        font-size: 1.2rem;
        .drawerLink {
            cursor: pointer;
            color: #fff;
        }
    }
    .drawerLang {
        cursor: pointer;
        text-align: center;
        width: 50px;
        margin: 5px 0 20px;
        padding: 0 8px;
        color: $color_lightGrey;
        border: 1px solid $color_lightGrey;
        border-radius: 5px;
    }
}
