@import "constants/constants.scss";

.navBar {
    display: flex;
    .logo {
        display: block;
        cursor: pointer;
        margin-top: 8px;
    }
    .link {
        cursor: pointer;
    }
    .activeLink {
        color: $color_orange;
        transition: 0.3s;
    }
}
.drawer {
    text-align: center;
    background-color: $color_main;
    min-height: 300px;
    .drawerLogo {
        margin: 16px 0;
    }
    .divider {
        background-color: #fff;
        width: 50%;
        margin: 0 auto;
        margin-bottom: 12px;
    }
    .drawerItems {
        display: block;
        padding: 6px 0;
        color: #fff;
        font-size: 1.2rem;
        .drawerLink {
            cursor: pointer;
        }
    }
}
