@import 'constants/constants.scss';

.footer {
    background-color: $color_dark;
    height: 64px;
    .footer__container {
        height: 64px;
        display: flex;  
        justify-content: space-between;
        align-items: center;
        .footer__right {
            color: $color_antiqueWhite;
            @media (max-width: 600px) {
                font-size: 0.8rem;
            } 
        }
        .footer__social img { 
            margin: 7px 0 0 25px;
            cursor: pointer;
            @media (max-width: 600px) {
                width: 30px;
            }
        }
    }
}